<div [formGroup]="form" class="flex gap-4 mb-6 flex-wrap">

  <!-- Search -->
  <mat-form-field appearance="outline" class="grow min-w-80">
    <mat-label>{{ 'TRANSACTIONS.SEARCH' | translate }}</mat-label>
    <input matInput formControlName="search">
    <mat-icon matSuffix>search</mat-icon>
  </mat-form-field>

  <!-- Type -->
  <mat-form-field appearance="outline" class="min-w-80">
    <mat-label>{{ 'TRANSACTIONS.TYPE' | translate }}</mat-label>
    <mat-select formControlName="type">
      <mat-option value="all">{{ 'TRANSACTIONS.ALL' | translate }}</mat-option>
      <mat-option value="income">{{ 'TRANSACTIONS.INCOME' | translate }}</mat-option>
      <mat-option value="expense">{{ 'TRANSACTIONS.EXPENSE' | translate }}</mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Category -->
  <mat-form-field appearance="outline" class="min-w-80">
    <mat-label>{{ 'TRANSACTIONS.CATEGORY' | translate }}</mat-label>
    <mat-select formControlName="category">
      <mat-option value="all">{{ 'TRANSACTIONS.ALL' | translate }}</mat-option>
      @for (category of categories; track category) {
        <mat-option [value]="category">{{ 'CATEGORIES.' + category | translate }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

</div>
