<mat-sidenav-container class="app-container">
  <mat-sidenav
    #sidenav
    [mode]="isMobile() ? 'over' : 'side'"
    [opened]="!isMobile()"
    class="sidenav">
    <div class="sidenav-header">
      <mat-icon class="logo-icon">account_balance_wallet</mat-icon>
      <span class="logo-text">Finance Tracker</span>
    </div>

    <mat-nav-list>
      @for (item of navItems; track item.label) {
        @if (item.isVisible) {
          <a mat-list-item [routerLink]="item.path" routerLinkActive="active-link">
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            <span matListItemTitle>{{ 'NAV.' + item.label | translate }}</span>
          </a>
        }
      }
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="main-content">
    <mat-toolbar class="toolbar">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Přepnout menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="toolbar-title">Finance Tracker</span>
    </mat-toolbar>

    <div class="content">
      <router-outlet />
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
