::ng-deep .mat-column-date {
  min-width: 7rem;
  max-width: 9rem;
}

::ng-deep .mat-column-description {
  flex: 1;
  min-width: 7rem;
}

::ng-deep .mat-column-category {
  min-width: 8rem;
  max-width: 10rem;
}

::ng-deep .mat-column-amount {
  min-width: 7rem;
  max-width: 9rem;
}

::ng-deep .mat-column-actions {
  min-width: 3rem;
  max-width: 4rem;
}
